<mat-card class="kontakty">
  <div class="przyciskK " (click)="pokaKontakty()"><i class="fa fa-bars" aria-hidden="true"></i></div>
  <div class="tekstK "><p>Kontakty</p> </div>
  <div class="spaceK "></div>
</mat-card>



<div sytle="color: #212121;" class="container-fluid">
  <div class="content">
    <div id="lewa" class="ramki">
      <div class="col-sm-12 czat">
          <mat-card class="okno">
            <div id="wiadomosci">

            </div>
            <div id="piszeTeraz">

            </div>
          </mat-card>
      </div>
      <div class=" pisz">
        <mat-card>
          <div class="rowo">
          <div class="tekstW">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="wiadomosc" placeholder="Wiadomosc" >
          </mat-form-field>
        </div>
        <div class="buttonW">
            <button class="wyslij" (click)="sendSocket()" mat-raised-button>Click me!</button>
        </div>
      </div>
        </mat-card>
      </div>
    </div>
    <div id="prawa" class="ramki">
      <mat-card class="listaKontaktow">
        <mat-card  *ngFor="let k of kontakty; let i= index" [attr.data-index]="i" id="{{i}}.{{k.Uzytkownik.ID}}" [class.oznaczenie]="tablica[i]" (click)="rozpoczecieRozmowy($event)" >
          {{k.Uzytkownik.Imie}} {{k.Uzytkownik.Nazwisko}}
        </mat-card>
      </mat-card>
    </div>
  </div>
</div>