body{
    margin: 0;
  }
  .container{
      height: 98vh;
      width: 98vw;
      background:#424242;
      padding-top: 2vh;
      padding-left: 1vw;
      padding-right: 1vw;


  }
  .ramka{
      height: 98%;
     width:  100%;
      border: 1px solid white;
   
  }
  .polowa{
      grid-column: 1/2;
   
      grid-row: 1;
      font-family: 'Barlow Condensed', sans-serif;
      align-self:center;
      padding-left: 4vw;
      
  }
  .polowa2{
      grid-column: 2;
      grid-row: 1;
 
  }
  .polowa3{
      grid-column: 1/2;
      grid-row: 2;
    
  }
  .polowa4{
      grid-column: 2;
      grid-row: 2;
    
      align-self: end;
      padding-right: 1vw;
  }
  .rowo{
      height: 50%;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  #rozmiar{
      
      font-size:7rem;
      color:#43a047;
  }
  #anuluj{
       font-size:7rem;
      color: #e53935;
  }
  #rozmiar2{
      color:#f5f5f5;
      margin-left: 4vw;
      font-size: 3rem;
      font-family: 'Barlow Condensed', sans-serif;
  }