.ramka{
    border-right: 1px solid #616161;
}
.koryto{
    height:  92vh;
    max-height: 93vh;
    overflow: auto;
    flex-grow: 1;
    color: #212121;
}
.kartaT{
    height: 10vh;
    padding: 0;
    margin-bottom: 4px;
}
.kontener{
    height: 80%;
}
.piorytet{
    height: 4vh;
    background: #ffff00;
    width: 100px;
}
.ikona{
    font-size: 21px;
    display: inline;
    margin-right: 4px;

}
.elementK{
    flex-grow: 1;
}
.elementKP{
    flex-grow: 5;
}
.zielony{
    color: #00e676;
}
.para{
    display: inline;
}
.cnt{
    padding: 8px;
    margin-top: 15px;
    display: flex;
}
.kopie{
    justify-self: end;
    margin-top: 1vh;
    margin-right: 1vw;
    
}

.modalo{
    position: absolute;
    left: 0;
    top: 0;
    width: 50vw;
    height: 50vh;
    background: #616161;
    opacity: 0.7;
    z-index: 500;
}
.wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.rowo{
    display: flex;
    width: 100%;
}
.hide{
    display: none;
}
.filtrownica{
    width: 100%;
    padding: 11px;
}