
<div class="container-fluid">
  <div class="rowo">
    <div class=" ramka koryto" >
      <p class="text-center">Transakcje przychodzace</p>
      <mat-form-field class="filtrownica">
        <input matInput placeholder="Filtrowanie" [(ngModel)]="filtr" (ngModelChange)="onTap($event)" name="filtr">
      </mat-form-field>
      <div class="kontener przychodzace" [dragula]='"koryto"' >
        <mat-card (click)="klikKarta($event)" id="przychodzace.{{t.id}}" *ngFor="let t of tablicaPrzychodzace" class="kartaT">
         <div class="wrap">
        
          <div class="piorytet" [style.background]="ms.getKolor(t.piorytet)">
           <p id="piorytetP.{{t.id}}" class="text-center"> {{t.piorytet}}</p>
          </div>
          <div class="kopie">
              <i class="fa fa-clone ikona"></i> <p class="para">{{t.iloscKopii}}</p>
          </div>
       
         
        </div>
        <div class="cnt">
          <div class="elementK">
          
              <i [ngClass]="{'zielony':  t.wiadomosc.length}" class="fa fa-envelope-o ikona"></i>
          </div>
          <div class="elementK">
              <i [ngClass]="{'zielony': sprPlatnosc(t.statusPlatnosci)}" class="fa fa-usd ikona" ></i> <span id="cenaP.{{t.id}}">{{t.cena}}</span><span> zł</span>
          </div>
          <div class="elementKP">
              <i class="fa fa-user ikona" ></i> <span id="nazwaP.{{t.id}}">{{t.nazwa}}</span>
          </div>
           
      </div>
        </mat-card>
      </div>
    </div>
    <div class=" ramka koryto"  >
      <p class="text-center">Transakcje Obcene</p>
      <mat-form-field class="filtrownica">
        <input matInput placeholder="Filtrowanie" [(ngModel)]="filtrO" (ngModelChange)="onTapO($event)" name="filtrO">
      </mat-form-field>
      <div class="kontener obecne" [dragula]='"koryto"' >
        <mat-card (click)="klikKarta($event)" id="obecne.{{t.id}}" *ngFor="let t of tablicaObecne" class="kartaT">
          <div class="wrap">
            
              <div class="piorytet" [style.background]="ms.getKolor(t.piorytet)">
               <p id="piorytetO.{{t.id}}" class="text-center"> {{t.piorytet}}</p>
              </div>
              <div class="kopie">
                  <i class="fa fa-clone ikona"></i> <p class="para">{{t.iloscKopii}}</p>
              </div>
           
             
            </div>
            <div class="cnt">
              <div class="elementK">
              
                  <i [ngClass]="{'zielony':  t.wiadomosc.length}" class="fa fa-envelope-o ikona"></i>
              </div>
              <div class="elementK">
                  <i [ngClass]="{'zielony': sprPlatnosc(t.statusPlatnosci)}" class="fa fa-usd ikona" ></i> <span id="cenaO.{{t.id}}">{{t.cena}} zł</span>
              </div>
              <div class="elementKP">
                  <i class="fa fa-user ikona" ></i> <span id="nazwaO.{{t.id}}">{{t.nazwa}}</span>
              </div>
               
          </div>
          
        </mat-card>
      </div>
    </div>
    <div class="koryto"  >
      <p class="text-center ">Transakcje zrobine</p>
      <mat-form-field class="filtrownica">
        <input matInput placeholder="Filtrowanie" [(ngModel)]="filtrZ" (ngModelChange)="onTapZ($event)" name="filtrZ">
      </mat-form-field>
      <div class="kontener zrobione" [dragula]='"koryto"'>
        <mat-card (click)="klikKarta($event)" id="zrobione.{{t.id}}" *ngFor="let t of tablicaZrobine" class="kartaT">
          <div class="wrap">
            
              <div class="piorytet" [style.background]="ms.getKolor(t.piorytet)">
               <p id="piorytetZ.{{t.id}}" class="text-center"> {{t.piorytet}}</p>
              </div>
              <div class="kopie">
                  <i class="fa fa-clone ikona"></i> <p class="para">{{t.iloscKopii}}</p>
              </div>
           
             
            </div>
            <div class="cnt">
              <div class="elementK">
              
                  <i [ngClass]="{'zielony':  t.wiadomosc.length}" class="fa fa-envelope-o ikona"></i>
              </div>
              <div class="elementK">
                  <i [ngClass]="{'zielony': sprPlatnosc(t.statusPlatnosci)}" class="fa fa-usd ikona" ></i> <span id="cenaZ.{{t.id}}">{{t.cena}} zł</span>
              </div>
              <div class="elementKP">
                  <i class="fa fa-user ikona" ></i> <span id="nazwaZ.{{t.id}}">{{t.nazwa}}</span>
              </div>
               
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>