.tlo{
    background-color: #424242;
    height: 100vh;
    padding: 0;
  }
  .para{
    font-size: 14px;
  }
  .centro {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -130px;
    margin-left: -150px;
    width: 300px;
    height: 260px;
    background: #f5f5f5;
    color: #212121;
  }
  .przycisk{
    margin-top: 10px;
    float: right;
    background: #fafafa;
  }
   .przycisk::after {
      content: "";
      clear: both;
      display: table;
    }
  