<div class="tlo">
  
  </div>
  <mat-card class="centro">
    <form class="example-form">
      <mat-form-field>
        <input matInput placeholder="Login" [(ngModel)]="login" name="login">
      </mat-form-field>
      <br />
      <mat-form-field>
        <input matInput placeholder="Haslo" [(ngModel)]="pass" name="pass">
      </mat-form-field>
      <p class="para">Jeżeli nie masz konta <a routerLink="/rejestracja">Rejestracja</a></p>
      <button mat-raised-button class="przycisk" (click)="logowanie()">Zaloguj</button>
    </form>
  
  </mat-card>