.modalX{
    background: #f5f5f5;
    z-index: 10;
    padding: 10px;
}
.centro{
    width: 100vw;
    margin-left: 0;
    left: 0;
}
.tytul{
    font-size: 35px;
    font-family: Lato;
    color: #212121;
}
.avatar{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-left: 1.5vw;
    
}
.kolo{
    float: left;
    width: 10vw;
}
.kolo:hover .avatar{
    margin-left: 0.85vw;
    width: 125px;
    height: 125px;
}
.tekst{
    font-family: Lato;
    margin-top: 10px;
    font-size: 21px;
    margin-left: -2.25vw;
    color: #212121;
}
.wrap{
    margin: 10px;
    padding: 10px;
}
warap::after{
    content: '';
    clear: both;
    display: table;
}
.panel{
    width: 94vw;
    height: 100vh;
    background: #f5f5f5;
}
.modal2{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    background-color: rgba(61,61,61,0.7);
}
.srodek{
    min-height: 46vh;
    margin-top: 29vh;
    width: 100vw;
    z-index: 500;
    padding: 0;

}
.etykietaWmodalu{
    margin-top: 12px;
}
.wielkoscEtykieta{
    height: 9vh;
    
}
.doButtona{
    margin-top: 1%;
    margin-right: 5%;
}
.modalLewo{
    float: left;
}
.klir::after{
    content: "";
    clear: both;
    display: table;
}
.wiadomoscNaglowek{
    padding-left: 10px;
    padding-top: 10px;
}
.wiadomoscContent{
    height: 112px;
    padding-left: 20px;
    
}
.wiadomoscContent > p {
    height: 100%;
}
.wylacz{
    background: #616161;
    color: #fafafa;
    height: 66px;   
    padding-top: 8px;
}


.odstep{
    margin-right: 1px;
}
.rowo{
    display: flex;
    width: 100%;
}
.grido{
    display: flex;
    
}
#lewyOpis{
    padding: 9px;
    flex-grow: 10;
}
#prawyOpis{
    flex-grow: 1;
}
.grido2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#prawyOpis{
    justify-self: end;
    width: 231px;
    margin-right: 3vw;
}
.rozmiarTekstu{
    font-size: 20px;
}
@media only screen and (max-width: 1000px) {
    .rozmiarTekstu{
        font-size: 16px;
    }

}

@media only screen and (max-width: 870px) {
    .grido2{
        grid-template-columns: 1fr 1fr ;
    }

}