<div *ngIf="modal" class="tlo">
  <div class="centro modalX">
    <p class="tytul">Wybierz Xero</p>
    <div *ngFor="let x of tablicaDoWyboru" class="wrap">
    <div class="kolo" (click)="wyborXero(x.ID)">
      <img class="rounded-circle avatar" src="{{x.avatar}}">
      <p class="text-center tekst">{{x.Nazwa}}</p>
    </div>
  </div>
  </div>
</div>
<div *ngIf="modal2" class="modal2">
  <mat-card class="srodek">
    <div class="container-fluid">
      <div  style="font-size: 26px;" class="grido">
      <div class="wielkoscEtykieta" id="lewyOpis">
        <p class="etykietaWmodalu">Transakcja z uzytkownikiem: <span class="odstep">{{tmpUz.imie}}</span> <span class="odstep">{{tmpUz.nazwisko}}</span></p>
       
      </div>
      <div id="prawyOpis" class="wielkoscEtykieta" [style.background]="ms.getKolor(ms.getTmpDoModal().piorytet)">
          <p class="text-center etykietaWmodalu">{{ms.getTmpDoModal().piorytet}}</p>
          
        </div>
    </div>
    <div style="width:100%;">
      <hr>
    </div>
    <div  class="grido2 rozmiarTekstu">

          <mat-card>
              <p class="doButtona">Ilość kopii: <span>{{ms.getTmpDoModal().iloscKopii}}</span> </p>
          </mat-card>
          <mat-card>
            <p class="doButtona">Cena: <span>{{ms.getTmpDoModal().cena}} zł</span> </p>
        </mat-card>
          <mat-card>
            <p class="doButtona">Status płatnosci: <span>{{ms.getTmpDoModal().statusPlatnosci}}</span> </p>
        </mat-card>
        <mat-card>
            <p class="doButtona">Data utworzenia: <span>{{ms.getTmpDoModal().data.getDate()}}.{{ms.getTmpDoModal().data.getMonth()+1 < 10 ? "0"+ms.getTmpDoModal().data.getMonth()+1 : ms.getTmpDoModal().data.getMonth()+1}}.{{ms.getTmpDoModal().data.getFullYear()}} o godzinie: {{ms.getTmpDoModal().data.getHours() < 10 ? "0"+ms.getTmpDoModal().data.getHours() : ms.getTmpDoModal().data.getHours() }}:{{ms.getTmpDoModal().data.getMinutes() < 10 ? "0"+ms.getTmpDoModal().data.getMinutes() : ms.getTmpDoModal().data.getMinutes() }} </span> </p>
      </mat-card>
          <mat-card>
          <div class="modalLewo doButtona">
            Plik: 
          </div>
            <button mat-raised-button (click)="wezPlik()"><i class="fa fa-arrow-down" ></i></button>
         </mat-card>
       
         <mat-card>
          <div class="modalLewo doButtona">
            Wyślij wiadomość: 
          </div>
          <button mat-raised-button (click)="czat()"><i class="fa fa-comments" ></i></button>
        </mat-card>

      </div>
   
      <mat-card>
        <div class="wiadomosc">
        <div class=" wiadomoscNaglowek" ><p>Wiadomosc od uzytkownika: </p></div>
        <hr>
        <div class=" wiadomoscContent" ><p>{{ms.getTmpDoModal().wiadomosc}}</p></div>
      </div>
     </mat-card>
    </div>
    <div class="wylacz" (click)="zamknijModal()"><p class="text-center" style="font-size: 20px;">Zamknij</p></div>
  </mat-card>
</div>
<div class="rowo" *ngIf="!modal">
  
  <app-nawigacja></app-nawigacja>
  <mat-card class=" panel">
      <router-outlet name='aux'></router-outlet>
  </mat-card>

</div>