.nawigacja{
    height: 100vh;
    width: 6vw;
    padding: 0;
}
.logo{
    height: 12vh;
}
.opcja{
    color: #212121;
    padding: 5px;
    height: 10vh;
    border-bottom: 0.7px solid #616161;
}
.xero{
    height: 18vh;
    background: #424242;
    padding: 16px;
}
.avatar{
    width: 50px;
    height: 50px;
    margin-left: 0.4rem;
}
.tekstLogo {
    font-size: 42px;    
    font-family: Roboto;
    color: #212121;
  }
@media only screen and (max-width: 1300px) {

    .xero{
      padding: 0;
     
    }
    .xero > img{
        margin-top: 30px;
        margin-left: 10px;
    }
    .nawigacja{
        width: 71px;
    }
}
