<mat-card class="lewo nawigacja">
   <mat-card class="logo">
     <p class="tekstLogo">F<span style="color: #d50000;">P</span></p>
   </mat-card>
   <div class="opcja" (click)="transakcja()">Transakcje</div>
   <div class="opcja" (click)="wiadomosci()">Wiadomosci</div>
   <div class="opcja">Opcja 3</div>
   <div class="opcja">Opcja 4</div>
   <div class="opcja">Opcja 5</div>
   <div class="opcja">Opcja 6</div>
   <div class="opcja">Opcja 7</div>
   <mat-card class="xero" (click)="powrotDoModala()">
   <img class="rounded-circle avatar text-center" src="{{avatar}}">
 </mat-card>
</mat-card>