@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "../node_modules/dragula/dist/dragula.css";
body{
    padding: 0;
}
.tlo{
    background-color: #424242;
    height: 100vh;
    padding: 0;
  }
  .centro {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -130px;
    margin-left: -150px;
    width: 300px;
    height: 260px;
  }
  .lewo{
    float: left;
    
}
.avatarWiadomosci{
  width: 75px;
  height: 75px;
  margin-top: 2rem;
}

.wiadomoscPrzychodzaca {
  display:inline-block;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
  background: #311b92;
  padding: 10px;
  color: white;
  max-width: 70%;
  margin-top: 20px;
  border-radius: 23px;
  
}
  .wiadomoscPrzychodzaca p {
    font-family: "Roboto";
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    width: 100%;
  }
 .wrapMoja{
   
    width: 100%;
  }
.mojaWiadomosc {
  float: right;
  display: inline-block;
  overflow: hidden;
  word-break: break-word;
  border-radius: 23px;
  background: #1b5e20;
  padding: 10px;
  color: white;
  max-width: 70%;
  margin-left: 30%;
  margin-top: 20px;
  padding-top: 20px;
}
  .mojaWiadomosc p {
    font-family: "Roboto";
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    width: 100%;
  }

.wrapMoja::after {
  content: '';
  clear: both;
  display: table;
}
.content{
  display: flex;
  width: 100%;
}
.zObrazkeim {
  width: 87px;
  margin-left: 1.5vw;
}